.container{
    display: flex;
    justify-content: space-between;
    flex: 1;
    max-width: 1128px;
    margin: 0 auto;
    height: 52px;
}

.left{
    display: flex;
    align-items: center;    
}